.navigation {
  &__checkbox {
    display: none;

    /*//* when the checkbox is checked (by clicking on the label which is the white menu button) then the 'nav__background' element will scale up to fill the screen */
    &:checked ~ .navigation__background {
      transform: scale(70);
    }

    &:checked ~ .navigation__nav {
      opacity: 1;
      left: 0;
    }

    &:checked + .navigation__button .navigation__icon {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(-135deg);
      }
      &::after {
        top: 0;
        transform: rotate(135deg);
      }
    }
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1002;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    &:hover .navigation__icon {
      background-color: transparent;
    }
    &:hover .navigation__icon::before {
      top: 0;
      transform: rotate(90deg);
    }
    &:hover .navigation__icon::after {
      top: 0;
      transform: rotate(-180deg);
    }
  }

  &__icon {
    position: relative;
    /*//* move it down half the height of its parent (&__button @ 7rem) minus half its own height */
    top: calc(3.5rem - 1px);

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }

  &__background {
    /*//* it starts slightly smaller than the white menu button that sits above it when it's shrunk down */
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.5s;
  }

  /*//* covers the entire viewport so that the nav list child can be centered on the screen, and 'pos: fixed' so that it remains there even when scrolling.  z-index on top of the background, but below the menu button */
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    /*//* initially hidden off screen */
    opacity: 0;
    left: -100%;
    transition: all 0.6s cubic-bezier(0.33, 1.02, 0.39, 1.07);
  }

  &__list {
    @include pos-abs-center;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      /*//* <a> is an 'inline' element, so 'inline-block' is needed to provide padding and animate translateX */
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      background-repeat: no-repeat;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100% 60%;
      color: $color-primary;
      transform: translateX(1rem);
      /*//* prevents link outline when tab key is used */
      outline: none;
    }
  }
}
