.card {
  /*//* larger value makes effect visually less severe (as if you're viewing from further away as it rotates) */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  &:hover .card__side--back {
    transform: rotateY(0deg);
  }

  &__side {
    height: 50rem;
    transition: all 0.8s;
    /*//* both sides of card need to occupy the same space */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*//* need to hide the backside of each card */
    backface-visibility: hidden;
    border-radius: $border-radius;
    /*//* 'overflow: hidden' forces child image to sit within the border-radius */
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      /*//* needs to start out already rotated around */
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  /*//?----------  FRONT SIDE  ----------*/
  &__picture {
    background-size: cover;
    /*//* can experiment with different modes in Dev Tools for instant feedback */
    /*//* blends the linear-gradient with the image underneath it */
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $text-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    z-index: 1;

    &-span {
      padding: 1rem 1.5rem;
      /*//* the '.card__heading' width of 75% and this padding cause the span's content box to break into 2 separate lines.  using 'box-decoration-break: clone' gives each separate content box the same padding (to understand effect just disable it in DevTools and see the effect).  in future, maybe just use 2 separate spans. */
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }
  }

  &__details {
    padding: 2rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  /*//?----------  BACK SIDE  ----------*/
  &__cta {
    @include pos-abs-center;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    margin-bottom: 8rem;
    color: $text-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  //
  //
  //
  /*//?----------  MEDIA QUERY FOR TABLET PORTRAIT AND PHONE  ----------*/
  /*//* had to include original media query (not the mixin) b/c also need to add condition where this media query takes over whenever using a touch device (regardless of screen size).  (opposite of 'hover: none' is 'hover: hover') */

  /*//* the following effects all touch devices.  below the width and heading font-size change for touch devices less than 75em (which is everything except the iPad Pro in landscape, which is wider).  see also the "TOURS SECTION" in the _home.scss file and its related media query */

  /*//* the following changes the cards to single sided, but still shown 3-across.  below, the next media query changes the width and heading font-size, for when the cards are displayed in only 1 column */
  @media only screen and (hover: none) {
    // width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

    &:hover .card__side--front {
      transform: none;
    }

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: none;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    // &__heading {
    //   font-size: 3.5rem;
    // }

    &__details {
      ul {
        li {
          font-size: 2.6rem;
        }
      }
    }
    /*//?----------  BACK SIDE  ----------*/
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
      padding: 7rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 6rem;
    }
  }
  /*//* when cards are shown vertically in only 1 column */
  @media only screen and (max-width: 75em) and (hover: none) {
    width: 80%;
    &__heading {
      font-size: 3.5rem;
    }
  }
  @include mq-phone {
    width: 100%;
  }
}
