/*//?----------  3 IMAGES IN ABOUT SECTION  ----------*/

.composition {
  position: relative;

  /*//* when hovering over the '.composition' element (parent of the 3 photos) AND you're not the photo that is currently being hovered over, then scale down */
  &:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
  }

  &__photo {
    width: 55%;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    /*//* can stretch outline out from content */
    outline-offset: 2rem;
    /*//* specified each transition prop, b/c wanted to omit transitioning the z-index change (looked weird) */
    transition: transform 0.2s, box-shadow 0.2s, outline 0.2s;

    & img {
      width: 100%;
      vertical-align: middle;
      transform: scale(1.05);
    }

    @include mq-tab-port {
      width: 60%;
    }
    @include mq-phone {
      outline-offset: 1rem;
    }

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      /*//* works similar to border, but doesn't add to box size and can be offset */
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      /*//* slightly grow the box-shadow, as would naturally happen when image grows */
      box-shadow: 0 2.5 4rem rgba($color: $color-black, $alpha: 0.5);
      z-index: 10;

      @include mq-phone {
        outline-width: 1rem;
      }
    }
  }
}
