.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba($color-black, 0.8);

  &__content {
    @include pos-abs-center;
    width: 75%;
    // height: 60%;
    background-color: $color-white;
    border-radius: $border-radius * 2;
    /*//* interesting technique of using a parent table with two children table-cells.  then can use 'vertical-align: middle' to on a cell in relation to the other cell.  would probably used flexbox or grid in the future */
    display: table;
    /*//* the images were overlapping the border-radius, so need 'overflow: hidden' */
    overflow: hidden;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    /*//* really cool new CSS feature, put text into columns */
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    /*//* add hyphens to wrapped text */
    hyphens: auto;
  }
}
