
/*//* any inline-block elements that sit within a parent having this class will be centered within that parent */
.u-center-text {
    text-align: center;
}

/*//* basic utility to add 'margin-bottom', versus adding property into existing class(es).  not sure i agree with this method */
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;
}