/*//?----------  ABOUT SECTION  ----------*/
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    /*//* must vertically extend the bg-color into the clipped zone of the Header above (which is pure white).  The '.header' class is '95vh', then minus the '75vh' of the 'clip-path' property (in the '.header' class) equals '20vh'.  Make it negative to extend upwards into the '<header>' element */
    margin-top: -20vh;
}

/*//?----------  FEATURES SECTION  ----------*/
.section-features {
    padding: 20rem 0;
    /*//* compensates for background gap created by skew (exposes the pure white background) */
    margin-top: -10rem;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url("../img/nat-4.jpg");
    background-size: cover;

    transform: skewY(-$skew-section-features);

    /*//* select all DIRECT children of '.section-features' (which is the div.row that contains all the feature box columns) and remove the skew */
    & > * {
        transform: skewY($skew-section-features);
    }
}

/*//?----------  TOURS SECTION  ----------*/
.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem;
    margin-top: -10rem;
}

/*//?----------  STORIES SECTION  ----------*/
.section-stories {
    padding: 15rem 0;
    position: relative;
}

/*//?----------  BOOKING SECTION  ----------*/
.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
    );
}
.book {
    background-image: linear-gradient(
            105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.9) 50%,
            transparent 50%
        ),
        url(../../img/nat-10.jpg);
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.35);

    height: 50rem;
}
.book__form {
    width: 50%;
    padding: 6rem;
}
