/*//?----------  ABOUT SECTION  ----------*/
.section-about {
  background-color: $color-grey-light-1;
  padding: 3rem 0 15rem;

  @include mq-tab-port {
    padding: 5rem 0 45rem;
  }
  @include mq-phone {
    padding: 5rem 0 30rem;
  }
}

/*//?----------  FEATURES SECTION  ----------*/
.section-features {
  background-color: $color-grey-light-1;

  &__background {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-$skew-section-features);

    @include mq-tab-port {
      padding: 15rem 0;
    }

    @include mq-phone {
      padding: 10rem 0;
    }

    /*//* select all DIRECT children of '.section-features' (which is the div.row that contains all the feature box columns) and remove the skew */
    & > * {
      transform: skewY($skew-section-features);
    }
  }
}

/*//?----------  TOURS SECTION  ----------*/
.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 0;

  /*//* on all touchscreens (except iPad Pro in landscape) the cards in the Tours Section should be shown in one column, not 3, b/c they are displayed with the alternate layout (with the backface info shown on the front) so they look fucked up when displayed in 3 columns */
  @media only screen and (max-width: 75em) and (hover: none) {
    .row {
      max-width: 80%;

      [class*="col-"] {
        width: 100% !important;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: $gutter-vertical-sm;
        }
      }
    }
  }

  @include mq-tab-port {
    padding: 10rem 0;
  }

  @include mq-phone {
    padding: 7.5rem 0 5rem;
  }
}

/*//?----------  STORIES SECTION  ----------*/
.section-stories {
  padding: 15rem 0;
  position: relative;

  @include mq-tab-port {
    padding: 10rem 0;
  }

  @include mq-phone {
    padding: 5rem 0;
  }
}

/*//?----------  BOOKING SECTION  ----------*/
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include mq-tab-port {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: $border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.35);
  // height: 50rem;

  @include mq-tab-land {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 70%,
        transparent 70%
      ),
      url(../../img/nat-10.jpg);
  }
  @include mq-phone {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 100%
      ),
      url(../../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include mq-tab-land {
      width: 75%;
    }
    @include mq-tab-port {
      padding: 3rem;
    }
    @include mq-phone {
      width: 100%;
    }
  }
}
